<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright: 浙报传媒控股集团有限公司版权所有
  ~ Copyright (c) 2019, Copyright Zhejiang Daily Media Holding Group Co.,Ltd. All Rights Reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.my.mapper.UserMapper">
    <resultMap id="userMap" type="com.my.domain.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="getAll" resultMap="userMap">
        SELECT * FROM user
    </select>

    <select id="getUserById" resultMap="userMap">
        SELECT * FROM user WHERE id = #{id}
    </select>
</mapper>